.card {
  padding: 0.75rem 1rem;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #000000;
  border-left: 5px solid gray;
}

.high {
  border-left-color: red;
}

.medium {
  border-left-color: orange;
}

.low {
  border-left-color: green;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textGroup {
  flex: 1;
  margin-right: 1rem;
}

.textGroup h3 {
  margin: 0.25rem 0;
  color: black;
  font-size: 0.95rem;
}

.textGroup small {
  color: #999;
}

.arrowBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.checkBtn {
  background: none;
  border: none;
  color: #4a4a4a;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}
